.containerOne {
  color: white;
  height: 100vh;
  position: relative;
}

.containerTwo {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.containerThree ul {
  padding: 0;
  text-align: center;
  display: inline-flex;
  list-style-type: none;
}

.containerThree li {
  padding: 5px;
}
